<nav class="navbar navbar-expand-lg" style="background-color: #ffffff; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 2.4rem; color: #0077b6; font-weight: bold;" href="#">KIDDY</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: #0077b6;"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <div class="navbar-nav mx-auto">
        <a class="nav-link" routerLink="/dashBoard/home">Home</a>
        <a class="nav-link" routerLink="/dashBoard/profile">Profile</a>
      </div>
      
      <div class="d-flex align-items-center">
        <button class="btn btn-primary text-white" (click)="logout()" style="font-size: 1.2rem; padding: 8px 20px; border-radius: 25px; border: none; transition: background-color 0.3s; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
          Log Out
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
