<section class="container-fluid p-0">
    <div class="row no-gutters h-100">
      
      <div class="col-lg-6 p-0 d-flex flex-column justify-content-center align-items-center">
        <div class="img-container" style="height: 70%; width: 70%; margin-bottom: 20px;">
          <img src="https://img.freepik.com/premium-vector/vector-illustration-composition-showcases-warmth-harmony-within-colombian-families_941797-123.jpg" class="img-fluid rounded shadow" alt="صورة 2">
        </div>
      </div>
  
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start p-4">
        <div class="handwriting-text mb-4" style="font-size: 1.5rem; color: #2b6cb0; font-family: 'Cursive', sans-serif;">
          Are you ready to start sharing lovely moments with us...
        </div>
  
       
        <div class="handwriting-text mb-4" style="font-size: 1.5rem; color: #2b6cb0; font-family: 'Cursive', sans-serif;">
          Verify Your Email Please
        </div>
  
        <div class="card shadow-lg" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Enter code from your email</h5>
            <form>
              <div class="mb-3">
                <input type="text" class="form-control"#code  placeholder="Enter here...">
              </div>
              <button type="submit" class="btn btn-primary w-100" (click)="verfiyUser()">Verify</button>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  